@media screen and (max-width: 576px) {
	/* nav and banner */

	.banner {
		flex-direction: column;
		margin-right: 20px;
		margin-left: 20px;
		gap: 40px;
	}
	nav > ul {
		display: none;
	}
	.ham-menu {
		display: block;
		width: 24px;
	}
	.banner .texts {
		width: 362px;
		height: 335px;
		margin: 51px 21px 0 21px;
	}
	.banner .texts .description {
		width: 274px;
		height: 94px;
	}
	.banner .texts .title {
		font-size: 2rem;
		margin-right: 67px;
	}
	.banner .texts .title span {
		font-size: 5rem;
	}
	#join-btn::before {
		content: "Join Now!";
	}
	.btn-primary {
		padding: 14px 30px;
	}
	nav {
		width: 83%;
	}
	.rectangle-free {
		margin-top: 350px;
		margin-right: 100px;
	}
	.rectangle-tutorial {
		margin-top: 600px;
		margin-right: 400px;
	}

	/* change habits */
	.change-habits {
		margin-top: 400px;
	}
	.change-habits .ccards {
		grid-template-columns: repeat(1, 1fr);
	}

	/* extra mile section */
	.extra-mile {
		flex-direction: column;
		width: 80%;
		padding: 30px;
	}
	.extra-mile .texts {
		margin: 0;
	}
	.extra-mile .texts > h1 {
		font-size: 2rem;
		font-weight: 900;
		line-height: 120%;
		margin-bottom: 14px;
	}
	.extra-img {
		width: 100%;
		height: auto;
		border-radius: 18px;
		margin: 0;
		margin-top: 30px;
	}
	.extra-img > img {
		position: static;
		width: 100%;
		height: auto;
	}
	.extra-mile .texts .extra-btn {
		width: 100%;
	}

	/* bmi section */
	.bmi {
		flex-direction: column;
		height: 900px;
	}
	.bmi-cal {
		width: 85%;
		gap: 10px;
	}
	.input-group input {
		width: 70%;
	}

	/* team section */
	.trainers {
		grid-template-columns: repeat(1, 1fr);
	}
	.hide {
		display: none;
	}

	/* unique facilities section */
	.cards {
		flex-direction: column;
	}

	.facilities .text {
		margin: 0;
	}

	/* footer */
	.footer {
		height: 850px;
	}
	.get-started {
		width: 70%;
	}
	.foot-content {
		flex-direction: column;
		gap: 40px;
		align-items: start;
	}
}
