@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

.miama-font {
	font-family: "Miama", sans-serif;
	color: white;
}

.inter-font {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	color: white;
}

* {
	margin: 0;
	padding: 0;
}

/* shared styles */

body {
	background-color: black;
}

.btn-primary {
	border-radius: 42px;
	padding: 16px 40px 16px 40px;
	background: rgb(230, 83, 60);
	color: rgb(255, 255, 255);
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 22px;
	cursor: pointer;
	border: none;
}

.description {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0.5px;
	text-align: left;
}

.section-style {
	width: 72.5%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 100px;
}

/* nav styles */

.brand {
	color: rgb(230, 83, 60);
	font-size: 2.25rem;
	font-weight: 800;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 71%;
}

nav ul {
	width: 43%;
	height: 46px;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 39px;
	padding: 4px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px;
	list-style: none;
}

#about {
	margin-right: 20px;
}

#home {
	border-radius: 46px;
	padding: 8px 20px 8px 20px;
	background: rgb(230, 83, 60);
}

nav ul li a {
	text-decoration: none;
	color: white;
	color: rgb(255, 255, 255);
	font-size: 1.125rem;
}

.ham-menu {
	display: none;
}

/* banner styles */

header {
	width: 100%;
	height: 715px;
	background: linear-gradient(
		180deg,
		rgb(17, 17, 17),
		rgba(119, 119, 119, 0) 100%
	);
	padding-top: 57px;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 167px;
}

.banner .texts {
	width: 36.11%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.banner .texts .title {
	color: rgb(255, 255, 255);
	font-size: 4.875rem;
	font-weight: 900;
	line-height: 120%;
}

.banner .texts .title span {
	font-weight: 400;
	font-size: 10rem;
}

#download-btn {
	box-sizing: border-box;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 42px;
	background-color: transparent;
}

.btn-container {
	display: flex;
	gap: 14px;
}

#join-btn::before {
	content: "Join Club Now";
}

.img p {
	color: rgba(255, 255, 255, 0.65);
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 1px;
	text-align: left;
}

.rectangle-tutorial .circle {
	width: 40px;
	height: 40px;
	background: rgb(230, 83, 60);
	border-radius: 50%;
}

.rectangle-free {
	padding: 16px 0 16px 24px;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.1);
	position: absolute;
	width: 193px;
	height: 98px;
	margin: 36.7% 9.73% 50% 76.875%;
}

.rectangle-tutorial {
	display: flex;
	gap: 12px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	background: rgba(48, 48, 48, 0.54);
	position: absolute;
	width: 206px;
	height: 96px;
	margin: 32.4% 32.63% 8.81% 53%;
	
}


.rectangle-tutorial > h3 {
	color: rgb(250, 250, 249);
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 24px;
	letter-spacing: 0.3px;
}

.rectangle-free > h3 {
	color: rgb(255, 255, 255);
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 40px;
	letter-spacing: 1px;
	text-align: left;
}

/* change habits section */

.change-habits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.change-habits .texts {
	width: 64.27%;
	margin: 0 auto;
	text-align: center;
}

.change-habits .texts .description {
	text-align: center;
	margin-bottom: 58px;
}

.change-habits .texts .title {
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
	margin-bottom: 14px;
}

.ccards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.ccards .ccard {
	width: 231px;
	height: 274px;
	text-align: center;
}

.ccards .ccard .description {
	text-align: center;
	margin-top: 6px;
}

.ccards .ccard img {
	border-radius: 50%;
	margin-bottom: 30px;
}

/* extra mile section */

.extra-mile {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15%;
	border-radius: 18px;
	background: rgb(34, 34, 34);
}

.extra-img {
	width: 700px;
	height: 380px;
	overflow: hidden;
	position: relative;
	border-radius: 18px;
	margin: 36px 38px 36px;
}
.extra-img > img {
	position: absolute;
	top: -200px;
	left: -780px;
}

.extra-mile .texts {
	margin: 41px 0 40px 54px;
}

.extra-mile .texts > h1 {
	font-size: 3rem;
	font-weight: 900;
	line-height: 120%;
	margin-bottom: 14px;
}

.extra-mile .texts .extra-btn {
	border: none;
	margin-top: 34px;
	padding: 16px 40px 16px 40px;
}

/* bmi section style */

.bmi {
	background: rgb(34, 34, 34);
	width: 100%;
	height: 450px;
	display: flex;
	gap: 13%;
	justify-content: center;
	align-items: center;
}

.bmi .table-container table {
	border-collapse: collapse;
}
.bmi .table-container > h3 {
	font-size: 28px;
	font-weight: 900;
	line-height: 120%;
	margin-bottom: 50px;
}
td,
th,
caption {
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	text-align: left;
}

th {
	color: rgb(255, 255, 255);
	font-size: 1rem;
	font-weight: 500;
}

td {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}

.bmi-cal {
	width: 30%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.bmi-cal > h3 {
	font-size: 28px;
	font-weight: 900;
	line-height: 120%;
}

.bmi-cal > p {
	font-size: 14px;
}

.bmi-cal button {
	width: 220px;
	margin-top: 10px;
	border: none;
	border-radius: 42px;
	padding: 12px 40px 12px 40px;
	background: rgb(230, 83, 60);
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	cursor: pointer;
}

.form-container form {
	display: flex;
	flex-direction: column;
}

.input-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

#active {
	width: 100%;
}

.input-group input,
select {
	width: auto;
	color: rgba(255, 255, 255, 0.25);
	font-weight: normal;
	padding: 10px 38px 10px 18px;
	text-align: left;
	border: none;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
}
.input-group input {
	width: 75%;
}

.grid-in {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

/* team section */

.team .texteam {
	text-align: center;
	margin-bottom: 60px;
}
.team .texteam h1 {
	font-size: 3rem;
	font-weight: 900;
	line-height: 120%;
	margin-bottom: 14px;
}

.team .texteam p {
	text-align: center;
	font-weight: 200;
}

.trainers {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	border-radius: 18px;
	padding: 20px;
	background: rgba(255, 255, 255, 0.1);
}

.t1,
.t2,
.t3,
.t4,
.t5,
.t6 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 18px;
	height: 275px;
	position: relative;
}

.t1 {
	background-image: url("./images/trainer1.png");
	background-color: rgba(0, 0, 0, 0.2);
}

.t2 {
	background-image: url("./images/trainer2.png");
	background-color: rgba(0, 0, 0, 0.2);
}

.t3 {
	background-image: url("./images/trainer3.png");
	background-color: rgba(0, 0, 0, 0.2);
}

.t4 {
	background-image: url("./images/trainer4.png");
	background-color: rgba(0, 0, 0, 0.2);
}

.t5 {
	background-image: url("./images/trainer5.png");
	background-color: rgba(0, 0, 0, 0.2);
}

.t6 {
	background-image: url("./images/trainer6.png");
	background-color: rgba(0, 0, 0, 0.2);
}

.team .trainers .trainer .info {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	font-size: 16px;
	background: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	border-radius: 5px;
}

.team .trainers .trainer .info h3 {
	font-size: 18px;
	font-weight: bold;
}
.team .trainers .trainer .info .role {
	font-size: 14px;
	margin-top: 5px;
	font-weight: 100;
}
/* facilities styles */

.facilities .text {
	margin: 0 86px 43px 86px;
	text-align: center;
}

.facilities .text .title {
	color: rgb(255, 255, 255);
	font-size: 48px;
	font-weight: 900;
	line-height: 120%;
	text-align: center;
	margin-bottom: 15px;
}

.facilities .text p {
	text-align: center;
	font-size: 14px;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	
	gap: 21px;
	margin-bottom: 90px;
}

.cards .card .img-container {
	width: 300px;
	height: auto;
}

.cards .card .img-container img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.cards .card .description{
	text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255, 0.6);
}

.cards .card {
	width: 323px;
	height: 500px;
	border-radius: 16px;
	background: rgb(34, 34, 34);
	padding: 35.6px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: box-shadow 0.3s ease; 
}

.cards .card:hover{
	box-shadow: 0 0 11px rgba(255, 255, 255, 0.2); 
}

.cards .card h3 {
	color: rgb(255, 255, 255, 0.8);
	font-size: 21px;
	font-weight: 800;
	line-height: 23px;
	margin-bottom: 8px;
}

.cards .card a {
	color: rgb(84, 86, 88);
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
}

.cards .card .img-container, .cards .card p{
	margin-bottom: 21px;
}

.cards .card img,
p {
	border-radius: 16px;
}

/* footer section */

.footer {
	width: 100%;
	height: 350px;
	background: rgba(255, 255, 255, 0.1);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.foot-content {
	margin-bottom: 0;
	display: flex;
	justify-content: center space-between;
	align-items: center;
	gap: 110px;
	margin-top: 70px;
}

.footb {
	font-size: 65px;
	margin-bottom: 15px;
}

.get-started {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 30%;
}

.get-started h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
}

.get-started h4 {
	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.5);
}

.copyright {
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.3px;
}

hr {
	width: 72.5%;
}
